*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.gradle

# Project exclude paths
/buildSrc/build/
/app/build
/router-gradle-plugin/build
/router-annotations/build
/router-processor/build